.moon-container {
  transform: scale(0.9);
  position: relative;
  .moon {
    overflow: hidden;
    //transform: translateY(-50%);
  }

  .cloud-cyan {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translateX(-25%) translateY(120%);
    //top: 2em;
    //left: -2em;
  }

  .cloud-violet {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translateX(-70%) translateY(50%);
    //top: -0.5em;
    //left: -10em;
  }
}