/* Shapes */

#shapes {
  display: none;
}

@media (min-width: 1560px) {
  #shapes {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: auto;
    display: inherit;
  }

  #grid {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -2;
  }

  .square-rotated {
    width: 100px;
    height: 100px;
    /*background: #212529;*/
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
  }

  #shape1 {
    top: 0vh;
    left: 8vw;
    /*
    transform: rotate(-45deg);
    background: linear-gradient(to right, #f2994a, #f2c94c);*/ /* Chrome 10-25, Safari 5.1-6 */
    background-image: url("../assets/images/background/shape1.svg");
  }

  #shape2 {
    top: 30vh;
    left: calc(2vw + 20px);
    transform: rotate(-45deg);
    /*background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);*/
    background-image: url("../assets/images/background/shape2.svg");
  }

  #shape3 {
    top: 60vh;
    left: calc(96vw - 100px);
    /*transform: rotate(-45deg);
    background: linear-gradient(to right, #56ab2f, #a8e063);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url("../assets/images/background/shape3.svg");
  }

  #shape4 {
    top: 5vh;
    left: calc(92vw - 100px);
    /*transform: rotate(-45deg);*/
    background-image: url("../assets/images/background/shape4.svg");
  }

  #shape5 {
    top: 180vh;
    left: calc(92vw - 100px);
    /*transform: rotate(-45deg);*/
    background-image: url("../assets/images/background/shape5.svg");
    /*background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);*/
  }

  #shape6 {
    top: 150vh;
    left: 8vw;
    /*transform: rotate(-45deg);
    height: 120px;
    width: 120px;*/
    background-image: url("../assets/images/background/shape6.svg");
    /*background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);*/
  }

  #shape7 {
    top: 200vh;
    left: 2vw;
    /*transform: rotate(-45deg);*/
    background-image: url("../assets/images/background/shape7.svg");
    /*background: linear-gradient(to right, #f46b45, #eea849);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  #shape8 {
    top: 150vh;
    left: calc(95vw - 100px);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: linear-gradient(to right, #00c6ff, #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  #shape9 {
    top: 235vh;
    left: 8vw;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: linear-gradient(to right, #56ab2f, #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  #shape10 {
    top: 250vh;
    left: calc(92vw - 100px);
  }

  /*#shape11 {*/
  /*    top: 320vh;*/
  /*    left: 8vw;*/
  /*    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
  /*}*/
  /*#shape12 {*/
  /*    top: 250vh;*/
  /*    left: 2vw;*/
  /*    !*background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);*!*/
  /*}*/
  /*#shape13 {*/
  /*    top: 300vh;*/
  /*    left: calc(92vw - 100px);*/
  /*    background: linear-gradient(to right, #ff4b1f, #ff9068); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  /*}*/
  /*#shape14 {*/
  /*    top: 240vh;*/
  /*    left: calc(92vw - 90px);*/
  /*    !*background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);*!*/
  /*    !*border-radius: 5000px;*!*/
  /*    width: 80px;*/
  /*    height: 80px;*/
  /*    background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);*/
  /*}*/
  /*#shape15 {*/
  /*    top: 375vh;*/
  /*}*/
  #shapes > div.square-rotated {
    transform: rotate(-45deg);
  }
}