.sun-container {
  transform: scale(0.9);
  position: relative;
  .sun {
    //transform: translateY(-50%);
  }

  .cloud-peach {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  .cloud-blue {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  @media (max-width: 991.98px) {
    .cloud-peach {
      transform: translateX(-25%) translateY(180%) !important;
    }
    .cloud-blue {
      transform: translateX(10%) translateY(220%) !important;
    }
  }

  @media (min-width: 992px) {
    .cloud-peach {
      top: 30%;
      left: -25%;
    }
    .cloud-blue {
      top: 60%;
      left: 20%;
    }
  }
}