#about {
  transform: translateY(3em);
  margin-top: 3em;
}

/* Info sections */
#info-section > div:nth-of-type(even) h2 {
  text-align: right;
}

.emphasis-title {
  text-align: center;
}

.row-tb-margin {
  margin-bottom: 20vh;
}

@media (min-height: 1601px) {
  #info-section > div:last-of-type {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .feature-stats {
    text-align: center;
  }

  p {
    font-size: inherit;
  }

  /*Automatically push right-aligned columns on mobile*/
  #info-section > div:nth-of-type(even) > div:nth-of-type(2) {
    order: -1 !important;
  }

  #info-section > div:nth-child(n) h2 {
    text-align: center;
  }

  .row-tb-margin {
    margin-bottom: 5vh;
  }
}