.sponsors {
  text-align: center;
  padding-top: 1em;
  overflow: hidden;
  /*padding-bottom: 3em;*/
  /*background-color: rgb(247, 247, 247);*/
}

/* Sponsorship */
.sponsor-obj {
  padding-left: 10px;
  padding-right: 10px;
}

.partners {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  /*background-color: rgb(247, 247, 247);*/
}

.co-host img {
  max-height: 600px;
  width: 1000px;
  /*max-width: 95%;*/
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gold img {
  max-height: 500px;
  max-width: 900px;
  /*max-width: 95%;*/
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.silver img {
  max-height: 300px;
  max-width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.partner img {
  max-height: 300px;
  width: 300px;
  max-width: 30%;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bronze img {
  max-height: 125px;
  max-width: 275px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .silver img {
    max-width: 80vw;
  }

  .gold img {
    max-width: 85vw;
  }

  .co-host img {
    max-width: 85vw;
  }
}