html {
  font-size: calc(0.85em + 1vw);
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  color: $fontDark;
  background-color: $bgColor;
  overflow-x: hidden;
}

p {
  /*line-height: 1.6em;*/
  font-size: 0.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

a {
  color: $fontDark;
}

a:hover {
  text-decoration: none;
}