@mixin transformToCenter {
  transform: translate(-50%, -50%);
}

@mixin tfCenterX {
  transform: translateX(-50%);
}

@mixin tfCenterY {
  transform: translateY(-50%);
}

@mixin heroAnim($delay, $time){
  animation: move-forever $time $delay cubic-bezier(.55, .5, .45, .5) infinite;
}